@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg)
    }

    to {
        opacity: 1;
        transform: rotateX(0)
    }
}

.container {
    animation: transitionIn 1s;
}

.customcon {
    max-width: 960px;
}