/*animations */
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg)
    }

    to {
        opacity: 1;
        transform: rotateX(0)
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fadeleft {
    from {
        opacity: 0;
        transform: translate(0%, -50%) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(+30px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/*general*/
.container {
    animation: transitionIn 1s;
}

.jumbo {
    animation: fadeDown .5s;
}

.nav-item {
    font-size: larger !important;
    align-items: center !important;
    justify-content: center !important;
    text-align:center !important;
}

/*about*/
.membershipcon {
    animation: fadeUp .75s;
}

.customcon {
    max-width: 960px;
}

/*membership*/
.card-body {
    padding-top: 14px;
    padding-bottom:14px;
}

.card-img {
    position: relative;
    aspect-ratio:9/12;
    object-fit:cover;
    overflow:hidden;
}

/*sponsors*/
.stext {
    visibility:hidden;
    position:absolute;
    text-align:center;
    top: 50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color:rgb(0, 0, 0);
}

.scard {
    aspect-ratio: 16/9;
    object-fit:cover;
    overflow:hidden;
}

.scard:hover .stext {
    animation: fadeleft 0.75s;
    visibility: visible;
}

.scard:hover .stextbacker {
    animation: fadeUp 0.75s;
}

.scard:hover .ctextbacker {
    animation: fadeIn 1s;
    visibility: visible;
}

.scard:hover .blur {
    filter:blur(9px);
    transition:.75s;
}

.square-card {
    width: 100%;
    padding-top: calc(9/16 *100%);
    position: relative;
    overflow:hidden;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text-bottom {
    position: absolute;
    bottom: 4%;
    left: 5%;
    width: 100%;
}

.ctextbacker {
    position: absolute;
    bottom: 4.3%;
    left: 5.5%;
    width: 100%;
    size-adjust:var(10%);
    color:rgb(0, 0, 0);
    visibility:hidden;
    opacity:75%;
}

.stextbacker {
    position: absolute;
    visibility:hidden;
    text-align:center;
    align-items:center;
    top:15.5%;
    opacity:100%;
    color:rgb(0, 0, 0);
}

.blur {
    filter: blur(1px);
}

@media screen and (max-width: 425px) {
    .stext {
      top:10%;
      font-size:120%;
    }
}

@media screen and (max-width: 386px) {
    .stext {
      top:10%;
      font-size:100%;
    }
}

@media screen and (max-width: 335px) {
    .stext {
      top:10%;
      font-size:80%;
    }
}

@media screen and (max-width: 285px) {
    .stext {
      top:10%;
      font-size:65%;
    }
}

@media screen and (max-width: 425px) {
    .stextbacker {
      top:10.5%;
      font-size:120%;
    }
}

@media screen and (max-width: 386px) {
    .stextbacker {
      top:10.5%;
      font-size:100%;
    }
}

@media screen and (max-width: 335px) {
    .stextbacker {
      top:10.5%;
      font-size:80%;
    }
}

@media screen and (max-width: 285px) {
    .stextbacker {
      top:10.5%;
      font-size:65%;
    }
}

@media screen and (max-width: 425px) {
    .card-text-bottom {
      font-weight:normal;
      font-size:120% !important;
    }
}

@media screen and (max-width: 425px) {
    .ctextbacker {
      font-weight:normal;
      font-size:120% !important;
    }
}

/* contact */
.socialcard {
    aspect-ratio: 1/1;
}

.sociallog {
    position:absolute;
    top:47.5%;
    left:50%;
    transform: translate(-50%, -50%);
    fill:white;
    color:white;
}

.sociallink {
    position:absolute;
    top:80%;
    left:50%;
    transform: translate(-50%, -50%);
    color:aliceblue;
}

.socialcard:hover .sociallog{
    width:40%;
    height:40%;
    transition:1s;
}